$black: #000000;
$white: #ffffff;
$blue: #098fcf;
$dark-blue: #043c77;
$gray: #f9f9f9;
$gray-text: #565656;
$stroke-input: #d4d4d4;
$stroke-table: #e7e7e7;
$footer-light-gray: #6c757d;
$footer-dark-gray: #505050;

$main-font-family: Montserrat, arial, sans-serif;