.form-quick-order{
  display: flex;
  flex-direction: column;
  gap: 1.875em;
  width: 100%;
  padding: 3.063em 12em 2.688em 6em;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);

  &__heading {
    margin: 0;
    color: $black;
    font: 700 2.25rem/1.22 $main-font-family
  }

  &__heading-span {
    color: $blue;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.875em;
    border: none;
  }

  &__fieldset {
    display: flex;
    align-items: flex-end;
    gap: 0.875em;
    margin: 0;
    padding: 0;
    border: none;
  }

  &__input-block {
    display: flex;
    flex-direction: column;
    flex-basis: 273px;
    gap: 8px;
  }

  &__name-input {
    margin: 0;
    color: $black;
    font: 500 0.75rem/1.25 $main-font-family;
  }

  &__label {
    width: 100%;
  }

  &__input {
    width: 100%;
    padding: 0.929em 1em 1em;
    font: 400 0.875rem/1.21 $main-font-family;
    border: 1px solid $stroke-input;
  }

  &__checkbox-label {
    display: flex;
    align-items: center;
    gap: 1em;
  }

  &__checkbox-input {
    display: grid;
    place-content: center;
    width: 24px;
    height: 24px;
    margin: 0;
    color: currentColor;
    background-color: $gray;
    border: 1px solid $stroke-input;
    outline: none;
    appearance: none;

    &::before {
      width: 20px;
      height: 20px;
      background-image: url(../../assets/images/check.svg);
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      content: '';
    }

    &:hover {
      cursor: pointer;
    }

    &:checked::before {
      transform: scale(1);
    }
  }

  &__checkbox-text {
    margin: 0;
    color: $black;
    font: 400 0.875rem/1.21 $main-font-family;

    &:hover {
      cursor: pointer;
    }
  }
}