.table-price {
  display: flex;
  flex-direction: column;
  gap: 47px;
  width: 100%;

  &__heading {
    margin: 0;
    color: $black;
    font: 700 2.25rem/1.22 $main-font-family;
  }

  &__column {
    &_one {
      width: 163px;
    }

    &_two {
      width: 287px;
    }

    &_three {
      width: 290px;
    }

    &_four {
      width: 187px;
    }

    &_five {
      width: 194px;
    }
  }

  &__table {
    width: 100%;
    border-collapse: collapse;
  }

  &__th {
    padding: 19px 30px 21px;
    color: $white;
    background-color: $dark-blue;
    font: 600 0.813rem/1.23 $main-font-family;
    text-align: left;

    &_column-one {
      padding: 19px 17px 21px 20px;
    }

    &_column-five {
      padding: 19px 17px 21px 30px;
    }
  }

  &__padding {
    outline: thin solid transparent;
    height: 19px;
  }

  &__body {
    border: 1px solid $stroke-table;
  }

  &__td {
    padding: 16px 30px 15px 29px;
    color: $black;
    font: 600 0.813rem/1.23 $main-font-family;
    vertical-align: top;
    border: 1px solid $stroke-table;

    &_column-one {
      padding: 16px 20px;
      color: $white;
      background-color: $blue;
      font: 700 1.5rem/1.2 $main-font-family;
      text-transform: uppercase;
    }

    &_text-center {
      vertical-align: middle;
    }

    &_padding {
      padding: 15px 30px 14px;
    }

    &_border-left-none {
      border-left: none;
    }

    &_border-right-left-none {
      border-right: none;
      border-left: none;
    }
  }
}