mixin table-price(params ={})
  -
    const {
      textHeading= "",
    } = params;

  .table-price
    h2.table-price__heading= textHeading
    table.table-price__table
      col.table-price__column.table-price__column_one
      col.table-price__column.table-price__column_two
      col.table-price__column.table-price__column_three
      col.table-price__column.table-price__column_four
      col.table-price__column.table-price__column_five
      thead.table-price__thead
        tr.table-price__head-row
          th.table-price__th.table-price__th_column-one Сорт топлива
          th.table-price__th Экологический класс
          th.table-price__th Производитель
          th.table-price__th Наличный расчет
          th.table-price__th.table-price__th_column-five Безналичный расчет
      tr.table-price__padding
      tr
        td.table-price__td.table-price__td_column-one(rowspan= "5") ДТ
        td.table-price__td(rowspan= "3") ЕВРО-5
        td.table-price__td.table-price__td_border-right-left-none Газпромнефть
        td.table-price__td.table-price__td_border-right-left-none 45.43 р.
        td.table-price__td.table-price__td_border-left-none 44.43 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Лукойл
        td.table-price__td.table-price__td_border-right-left-none 45.16 р.
        td.table-price__td.table-price__td_border-left-none 43.98 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Роснефть
        td.table-price__td.table-price__td_border-right-left-none 42.34 р.
        td.table-price__td.table-price__td_border-left-none 41.64 р.
      tr
        td.table-price__td(rowspan= "2") ЕВРО-4
        td.table-price__td.table-price__td_border-right-left-none Газпромнефть
        td.table-price__td.table-price__td_border-right-left-none -
        td.table-price__td.table-price__td_border-left-none -
      tr
        td.table-price__td.table-price__td_border-right-left-none Лукойл
        td.table-price__td.table-price__td_border-right-left-none 41.16 р.
        td.table-price__td.table-price__td_border-left-none 40.67 р.
      tr.table-price__padding
      tr
        td.table-price__td.table-price__td_column-one(rowspan= "8") АИ-95
        td.table-price__td(rowspan= "3") ЕВРО-5
        td.table-price__td.table-price__td_border-right-left-none Газпромнефть
        td.table-price__td.table-price__td_border-right-left-none 45.43 р.
        td.table-price__td.table-price__td_border-left-none 44.43 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Роснефть
        td.table-price__td.table-price__td_border-right-left-none 42.34 р.
        td.table-price__td.table-price__td_border-left-none 41.64 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Лукойл
        td.table-price__td.table-price__td_border-right-left-none 45.16 р.
        td.table-price__td.table-price__td_border-left-none 43.98 р.
      tr
        td.table-price__td(rowspan= "2") ЕВРО-4
        td.table-price__td.table-price__td_border-right-left-none Лукойл
        td.table-price__td.table-price__td_border-right-left-none 41.16 р.
        td.table-price__td.table-price__td_border-left-none 40.67 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Газпромнефть
        td.table-price__td.table-price__td_border-right-left-none -
        td.table-price__td.table-price__td_border-left-none -
      tr
        td.table-price__td.table-price__td_text-center(rowspan= "3") ЕВРО-3
        td.table-price__td.table-price__td_padding.table-price__td_border-right-left-none Роснефть
        td.table-price__td.table-price__td_padding.table-price__td_border-right-left-none 42.34 р.
        td.table-price__td.table-price__td_padding.table-price__td_border-left-none 41.64 р.
      tr
        td.table-price__td.table-price__td_border-right-left-none Газпромнефть
        td.table-price__td.table-price__td_border-right-left-none -
        td.table-price__td.table-price__td_border-left-none -
      tr
        td.table-price__td.table-price__td_border-right-left-none Лукойл
        td.table-price__td.table-price__td_border-right-left-none 45.16 р.
        td.table-price__td.table-price__td_border-left-none 43.98 р.