.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.538em;
  color: $white;
  background-color: $blue;
  font: 600 0.813rem/1.23 $main-font-family;
  cursor: pointer;
  transition: background-color .2s ease-out;

  &_button {
    width: 258px;
    border: none;
    padding-bottom: 3px;
  }

  &_link {
    min-width: 176px;
    padding: 0px 14px 1px 14px;
    text-decoration: none;
  }

  &_consult {
    width: 200px;
  }

  &_header {
    gap: 10px;
  }

  &:focus,
  &:hover {
    background-color: $dark-blue;
  }
}