extends ../layouts/default
include ../../components/heading-1/heading-1
include ../../components/form-quick-order/form-quick-order
include ../../components/table-price/table-price
include ../../components/form-order/form-order
include ../../components/heading-2/heading-2
include ../../components/steps-work-card/steps-work-card
include ../../components/card-benefit/card-benefit
include ../../components/cert-carousel/cert-carousel
include ../../components/swiper/swiper
include ../../components/reviews/reviews
include ../../components/consultation/consultation


block variables

block content
  main.main-page
    .main-page__container
      .main-page__heading-1
        +heading-1({text: "Доставка топлива"})
      .main-page__form-quick-order
        +form-quick-order({
          textHeading: "Быстрый ",
          textHeadingSpan: "заказ топлива",
          textInputText: "Ваше имя",
          textInputTel: "Номер телефона",
          typeBtn: "submit",
          textBtn: "Заказать топливо",
          checkboxText: "Я согласен с условиями обработки данных",
        })
      .main-page__table-price
        +table-price({
          textHeading: "Стоимость топлива",
        })
    .main-page__form-order
      +form-order({
        textHeading: "Топливо с доставкой",
        textInputSelect: "Вид топлива",
        valueSelect1: "ДТ",
        valueSelect2: "AИ-95",
        textInputRange: "Объем топлива",
        textInputTextArea: "Место доставки",
        textInputTextName: "Ваше имя",
        textInputTel: "Номер телефона",
      })
    .main-page__container
      .main-page__steps-work
        +heading-2({text: "Как мы работаем"})
        .main-page__steps-work-cards
          .main-page__steps-work-card
            +steps-work-card({
              srcIcon: "./assets/images/click.svg",
              altIcon: "Иконка клика",
              timeText: "1-3 мин.",
              cardTitle: "Оформление заявки",
              cardInfo: "Заполните заявку на сайте, укажите удобное для вас место приезда заправщика, сорт и количество топлива, которое хотите купить",
            })
          .main-page__steps-work-card
            +steps-work-card({
              srcIcon: "./assets/images/phone-card.svg",
              altIcon: "Иконка телефона",
              timeText: "1-3 мин.",
              cardTitle: "Подтверждение заявки менеджером",
              cardInfo: "Дождитесь звонка нашего менеджера для уточнения условий заказа",
            })
          .main-page__steps-work-card
            +steps-work-card({
              srcIcon: "./assets/images/gas.svg",
              altIcon: "Иконка бочки",
              timeText: "30-90 мин.",
              withArrow: false,
              cardTitle: "Заправка вашего автомобиля",
              cardInfo: "В назначенное время приедет заправщик и заправит автомобиль топливом.",
              withSmallInfo: true,
              cardSmallInfo: "Если у заказчика есть действующий договор на топливные карты, то при оплате можно провести транзакцию через терминал. Переносное устройство есть у каждого заправщика",
            })
    .main-page__benefits
      .main-page__benefits-container
        +heading-2({text: "Преимущества сервиса"})
        .main-page__benefits-cards
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/certificate.svg",
              altIcon: "Иконка сертификата",
              cardTitle: "Качество топлива",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/clock.svg",
              altIcon: "Иконка часов",
              cardTitle: "Бережем ваше время и нервы",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/ruble.svg",
              altIcon: "Иконка рубля",
              cardTitle: "Цена",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/place.svg",
              altIcon: "Иконка метки на карте",
              cardTitle: "Ваш комфорт—наша забота",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/shield.svg",
              altIcon: "Иконка щита",
              cardTitle: "Безопасность процесса",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
          .main-page__benefits-card
            +card-benefit({
              srcIcon: "./assets/images/way.svg",
              altIcon: "Иконка маршрута на карте",
              cardTitle: "Несколько ТС в одном месте?",
              cardText: "Aliquam rhoncus et massa adipiscing risus leo nec lacus, sagittis. Eu, purus ac nisi sit eget sed et, adipiscing felis.",
            })
    .main-page__container
      +cert-carousel({
        itemsCarousel: [
          {src: "./assets/images/sert-1.jpg", alt: "Первый сертификат"},
          {src: "./assets/images/sert-2.jpg", alt: "Второй сертификат"},
          {src: "./assets/images/sert-3.jpg", alt: "Третий сертификат"},
          {src: "./assets/images/sert-4.jpg", alt: "Четвертый сертификат"},
          {src: "./assets/images/sert-4.jpg", alt: "Пятый сертификат"},
          {src: "./assets/images/sert-3.jpg", alt: "Шестой сертификат"},
          {src: "./assets/images/sert-2.jpg", alt: "Седьмой сертификат"},
          {src: "./assets/images/sert-1.jpg", alt: "Восьмой сертификат"},
        ],
      })
    .main-page__container
      .main-page__heading-2
        +heading-2({text: "Наши партнеры"})
      .main-page__swiper
        +swiper({
          partnersItems: [
            {src: "./assets/images/lukoil.png", alt: "Логотип Лукойл"},
            {src: "./assets/images/gazprom.png", alt: "Логотип Газпром"},
            {src: "./assets/images/rosneft.png", alt: "Логотип Роснефть"},
            {src: "./assets/images/tatneft.png", alt: "Логотип Татнефть"},
            {src: "./assets/images/lukoil.png", alt: "Логотип Лукойл"},
            {src: "./assets/images/gazprom.png", alt: "Логотип Газпром"},
          ]
        })
    .main-page__reviews
      +reviews({
        reviewItems: [
          {
            userName: "Гусев Вячеслав",
            jobTitle: "Индивидуальный предприниматель",
            textCard: "Velit, lectus sit urna tincidunt augue. Cursus vulputate pellentesque faucibus euismod. Diam pharetra, non, ut integer dui feugiat porttitor at. Non, dignissim enim viverra fringilla sit. Etiam justo a dignissim sociis vitae, nisi, justo, feugiat.",
          },
          {
            userName: "Зеленов Евгений",
            jobTitle: "Гененеральный директор <br> трансопртной компании",
            textCard: "Mi auctor sit habitasse sed mi cras ullamcorper massa sed. In augue fames sodales pretium, at scelerisque. Pulvinar a mattis pharetra mi, aliquet sem tristique lorem eleifend. Nisl, scelerisque ut libero, pellentesque. Tincidunt vestibulum volutpat lacus imperdiet morbi vulputate tristique facilisi.",
          },
                    {
            userName: "Зеленов Евгений",
            jobTitle: "Гененеральный менеджер",
            textCard: "Mi auctor sit habitasse sed mi cras ullamcorper massa sed. In augue fames sodales pretium, at scelerisque. Pulvinar a mattis pharetra mi, aliquet sem tristique lorem eleifend. Nisl, scelerisque ut libero, pellentesque. Tincidunt vestibulum volutpat lacus imperdiet morbi vulputate tristique facilisi.",
          },
                    {
            userName: "Зеленов Евгений",
            jobTitle: "Гененеральный директор <br> трансопртной компании",
            textCard: "Mi auctor sit habitasse sed mi cras ullamcorper massa sed. In augue fames sodales pretium, at scelerisque. Pulvinar a mattis pharetra mi, aliquet sem tristique lorem eleifend. Nisl, scelerisque ut libero, pellentesque. Tincidunt vestibulum volutpat lacus imperdiet morbi vulputate tristique facilisi.",
          },
        ],
      })
    .main-page__consultation
      +consultation({
        textHeading: "Остались вопросы?",
        textInfo: "Готовы ответить на любой Ваш вопрос. Оставьте свой номер телефона и мы свяжемся с вами в ближайшее время",
        typeBtn: "submit",
        textBtn: "Перезвоните мне",
        politicsText: "Нажимая на кнопку «Перезвоните мне» я соглашаюсь с",
        linkText: " политикой конфиденциальности",
        hrefPolitics: "/mock-address/change-me",
      })