.card-benefit {
  max-width: 353px;
  display: flex;
  gap: 18px;
  padding: 20px;
  background-color: $white;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__title,
  &__text {
    margin: 0;
  }

  &__title {
    color: $black;
    font: 600 0.938rem/1.2 $main-font-family;
  }

  &__text {
    color: $gray-text;
    font: 400 0.875rem/1.21 $main-font-family
  }
}