.nav {
  width: 100%;
  background-color: $gray;

  &__menu {
    max-width: 1154px;
    margin: 0 auto;
    padding: 1.313em 0.938em 1.188em;
  }

  &__list {
    display: flex;
    gap: 2.5em;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}